<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>TestResults</ResultsDirectory>
  </RunConfiguration>
  <NUnit>
    <WorkDirectory>TestResults\NUnitWork</WorkDirectory>
    <UseParentFQNForParametrizedTests>true</UseParentFQNForParametrizedTests>
  </NUnit>
</RunSettings>
